.container {
  border: 1px solid black;
  width: 90%;
  margin: 20px;
}

.header {
  background-color: #ddd;
  text-align: center;
  padding: 10px;
  font-family: Georgia, serif;
}

.header span {
  color: red;
}

.nav1 a {
  background-color: lightblue;
  color: purple;
  text-decoration: none;
  padding: 3px 6px;
  margin: 3px;
  display: inline-block;
  border: 1px solid #999;
  font-size: 13px;
}

.nav2 a {
  background-color: lightgreen;
  color: purple;
  text-decoration: none;
  padding: 3px 6px;
  margin: 3px;
  display: inline-block;
  border: 1px solid #999;
  font-size: 13px;
}