body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: skyblue;
}
h1 {
    text-align: center;
    padding: 20px;
    color: black;
}
.product-grid {
    display: grid;
    grid-template-columns: respect(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background-color: skyblue;
}
.product-card{
    background: red;
    border: 1px solid
}